{% extends "base.html" %}
{% from "macros.html" import section_head, email_block, ask_box %}
{% block main %}
<div class="wrap page">
  <header class="page-head">
    <h1>{{ page.heading }}</h1>
    <p class="lead">{{ page.lead }}</p>
  </header>

  {{ email_block(site, page.copy_label, page.copied_label) }}

  {% if ask %}
  <section class="section" aria-labelledby="ask-heading">{{ ask_box(ask, site, 1) }}</section>
  {% endif %}

  <section class="section" aria-labelledby="elsewhere">
    {{ section_head(2 if ask else 1, page.links_heading, 'elsewhere') }}
    <ul class="link-list" role="list">
      <li><span class="link-label">GitHub</span><a href="{{ site.github_url }}">{{ site.github_url | replace('https://', '') }}</a></li>
      <li><span class="link-label">LinkedIn</span>
        {% if site.linkedin_url %}<a href="{{ site.linkedin_url }}">{{ site.linkedin_url | replace('https://', '') | replace('www.', '') }}</a>
        {% else %}<mark class="todo">TODO: LinkedIn URL</mark>{% endif %}
      </li>
    </ul>
  </section>
</div>
{% endblock %}
